@model IEnumerable<DoanQuocVietBTTH2.Models.Employee>
<p>
   <a class="btn btn-success" asp-action="Create">Create a new Employee</a>
</p>
<table class="table table-all"
    <tr>
       <th>Employee ID </th>
       <th>Employee Name </th>
       <th>Employee BoPhan </th>
       <th>Employee Luong </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
           <td>@Html.DisplayFor(m => item.EmployeeID)</td>
           <td>@Html.DisplayFor(m => item.EmployeeName)</td>
           <td>@Html.DisplayFor(m => item.EmployeeBoPhan)</td>
           <td>@Html.DisplayFor(m => item.EmployeeLuong)</td>
           
        </tr>
    }
</table>